@font-face {
    font-family: 'Farro';
    src: url('Farro-Regular.woff2') format('woff2'),
        url('Farro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Francois One';
    src: url('FrancoisOne-Regular.woff2') format('woff2'),
        url('FrancoisOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url('PTSans-Regular.woff2') format('woff2'),
        url('PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

